.app-topbar {
	background-color: #9BD600;
	color: #425C00;
}

.app-android .app-topbar {
	-webkit-box-shadow: none;
	box-shadow: none;
}


#blocker {
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: grey;
}

#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-left: -8px;
	margin-top: -8px;
}

#loggedInAs {
	position: absolute;
	top: 0px;
	right: 20px;
}

#signOut {
	position: absolute;
	top: 100px;
	left: 100px;
	color: white;
	border: none;
}

#cancel {
	position: absolute;
	top: 120px;
	left: 100px;
	color: white;
	border: none;	
}