#canvas-section {
     height: 85%;
}

.action-bar {
     position: relative;
     height: 60px;
     width: 100%;
     white-space: nowrap;
     background: #1b1b21;
}

.action-bar .action-bar-list {
     list-style-type: none;
     overflow-x: hidden;
     overflow-y: hidden; 

}

.action-bar .action-bar-list .actions {
     width: 33%;
     display: inline-block;
     position: relative;
     background-repeat: no-repeat;
     background-position: center;
     height: 60px;
}

.action-bar .action-bar-list .actions:hover {
     background-color: #333;
}


#feed-pet {
     background-image: url(../img/icon_feed.png);
}


#play-with-pet {
     background-image: url(../img/icon_play.png);
}

#talk-to-pet {
     background-image: url(../img/icon_talk_to.png);
}

#options {
     width: 30px;
     background-image: url(../img/icon_options.png);
     background-repeat: no-repeat;
     background-size: 30px auto;
     background-position: center;
}