.action-bar {
     position: relative;
     height: 60px;
     width: 100%;
     white-space: nowrap;
     background: #1b1b21;
}

.action-bar .action-bar-list {
     list-style-type: none;
     overflow-x: hidden;
     overflow-y: hidden; 

}

.action-bar .action-bar-list .actions {
     width: 25%;
     display: inline-block;
     position: relative;
}

.app-content .app-section #main-canvas {

}