#login-page {
	background-color: #CEEB61;
	color: black;
	font-weight: 200;
}

.logo-container .big-logo {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	height: 100px;
	background-position: center;

	margin-top: 50px;
}

.sub-description {
	text-align: right;
	margin-bottom: 20px;
	margin-right: 20px;
	font-size: 14px;
}

#info-form {
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f8f8f8;
	color: black;
	border-radius: 3px;
}

#info-form .form-header {
	margin-left: 10px;
}

#info-form input {
	margin-left: 10px;
	border-radius: 0px;
	margin-bottom: 20px;
}


.app-content .app-button {
	height: 48px;
	line-height: 48px;
	color: #425C00;
	margin: 10px;
	background-color: #9ACD32;
	border-color: none;
}

.app-content .app-button.active {
	color: #425C00;
	background-color: #49ac00;
}

.sub-header {
	margin-left: 10px;
}
