.pet-list-item {
	height: 48px;
	margin: 3px 10px;
	background-color: #E4E4E4;
}

.pet-list-item:hover {
	background-color: #eee;
}

.pet-list-item .list-pet-preview {
	position: absolute;
	left: 1;
	height: 48px;
	width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px auto;
}

.pet-list-item .list-pet-name {
	margin-left: 60px;
	font-weight: bold;
}

.pet-list-item .list-pet-type {
	margin-left: 60px;
}